:root {
  --black: #000;
  --white: #fff;
  --blue: #288ad6;
  --fade: #333;
  --gray: #f2f4f7;
  --yellow: #ffe14c;
  --primary-color: #ffd400;
  --secondary-color: #d0020c;

  --font: Arial, Helvetica, sans-serif;
}

html {
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  color: inherit;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*==========================================Header=================================================*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.header__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

/* Banner */
.banner {
  display: block;
  background-color: var(--secondary-color);
}

.banner img {
  display: block;
  margin: auto;
}

/* Header 1 */
.header__first,
.header__second {
  display: inline-flex;
  align-items: center;
  min-width: 120rem;
  margin: 0 auto;
}

.header__first {
  max-height: 3.7rem;
  max-width: 120rem;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.header__logo {
  display: inline-block;
  width: 22.8rem;
  height: 4.7rem;
  background-image: url(../img/ex2/icon-new-min.png);
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: 0rem -16.5rem;
}

.header__search {
  width: 41.5rem;
  border-radius: 3.2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: row-reverse;
}

.header__search input {
  border-radius: 3.2rem;
  padding: 0.8rem;
  border: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: 4rem;
  width: calc(100% - 3.5rem);
}

.header__search input:placeholder-shown {
  color: var(--fade);
}

.header__btn__search {
  display: inline-block;
  flex-grow: 1;
  line-height: 4rem;
  text-align: center;
  color: var(--fade);
  margin-left: 1.5rem;
}

.header__search input:not(:placeholder-shown) ~ .header__btn__search i {
  color: var(--black);
}

.header__btn__login,
.header__btn__cart {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
  width: 11rem;
  height: 4.2rem;
  padding: 0 0.5rem;
}
.header__btn__login i,
.header__btn__cart i {
  font-size: 2.4rem;
}

.header__btn__login {
  margin-right: 0.5rem;
}

.header__btn__cart:hover,
.header__btn__login:hover {
  background-color: var(--yellow);
  filter: brightness(1.1);
  border-radius: 2rem;
}

.header__location {
  width: 30rem;
  border-radius: 3.2rem;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.header__location::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0px, -50%);
  font-weight: 700;
}

.header__location:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.header__location input {
  border-radius: 3.2rem;
  padding: 0 0.8rem;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 4rem;
  width: calc(100% - 5rem);
  background-color: transparent;
  cursor: pointer;
}

.header__btn__location {
  display: inline-block;
  margin-left: 1rem;
  width: 3rem;
  flex-grow: 1;
  line-height: 4rem;
  text-align: center;
}

.header__second {
  min-height: 4.4rem;
  max-width: 120rem;
  margin-top: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.header__second__item a .bi {
  font-size: 2rem;
}

.header__second__item a {
  display: flex;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 3.5em;
  padding: 0 1rem;
  height: 4.4rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.dropdown-arrow {
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 0.3rem;
  transition: transform 0.2s ease-in-out;
}
.header__second__item:hover {
  background-color: #fe9;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.header__second__item:hover .dropdown-arrow {
  margin-bottom: 0;
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
}

.dropdown__container {
  position: absolute;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  background-color: var(--white);
  z-index: 1;
  border-radius: 1rem;
  padding: 1rem;
  top: 100%;
  right: 0%;
  max-width: 106.4rem;
  max-height: 50rem;
  width: max-content;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.item__gt__3 {
  max-width: 49%;
  flex: 1 0;
}
.dropdown__container__item > span {
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.dropdown__list {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.dropdown__list li {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.dropdown__list li:hover {
  background-color: var(--gray);
}

.dropdown__list li a {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: fit-content;
  box-sizing: border-box;
}

.dropdown__list li a img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  object-position: center;
}
.dropdown__list li a span {
  padding-top: 0.5rem;
}

.dropdown:hover .dropdown__container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  opacity: 1;
  visibility: visible;
}

.dropdown__container::before {
  content: "";
  position: absolute;
  background-color: var(--black);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*===========================================Body==================================================*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.body__wrapper {
  background-color: var(--gray);
  padding-top: 2rem;
}

.body__container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  gap: 2rem;
  margin: 0 auto;
}

/* Banner */
.banner__2 {
  border-radius: 1rem;
  overflow: hidden;
}

/* Viewed Product */
.viewed__products {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.banner__2,
.viewed__product,
.body__slider {
  position: relative;
}

.banner__2::after,
.viewed__product::after,
.body__slider::after {
  content: "x";
  position: absolute;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.5rem;
  color: #333;
  background-color: var(--gray);
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  color: var(--black);
  font-weight: 700;
}

.viewed__product__list {
  margin-top: 2rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  gap: 1rem;
}

.viewed__products::after {
  content: "Xóa lịch sử";
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #a4a4a4;
  font-size: 1.4rem;
}

.viewed__product {
  display: flex;
  border: 0.1rem solid var(--gray);
  border-radius: 0.8rem;
  overflow: hidden;
  padding: 1rem 0.5rem;
  max-width: 27.8rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

.viewed__product__content {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}
.viewed__product__content img {
  width: 6.6rem;
  height: 6rem;
  object-fit: cover;
}

.viewed__product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.viewed__product__info p:last-child {
  color: var(--secondary-color);
  font-weight: bold;
}

/* Sale category */
.sale__category__list {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  max-width: 120rem;
  height: 6.1rem;
  background-color: var(--white);
  display: flex;
  margin-top: 2rem;
}

.sale__category__list__item {
  flex: 0 1 14.1rem;
}
.sale__category__list__item:hover {
  border-bottom: 0.2rem solid var(--primary-color);
}
.sale__category__list__item a {
  display: block;
  height: 100%;
  color: #344054;
  padding: 0 0.7rem;
  line-height: 6rem;
  text-decoration: none;
  text-align: center;
}

.sale__category__list__item a img {
  object-fit: cover;
  max-width: 90%;
  max-height: 44px;
  padding: 0.8rem 0;
}

/* Sale product list */
.sale__product__section {
  background-color: var(--white);
  padding-top: 1.6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sale__countdown {
  width: 35rem;
  height: 3rem;
  background-color: #fea200;
  color: var(--white);
  border: 0.5rem solid #dcedfc;
  border-radius: 3rem;
  font-size: 1.6rem;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  line-height: 3rem;
}

.sale__product__list {
  --columns: 6;
  --spacing: 1rem;

  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 0 1.6rem;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing);
  place-content: space-around flex-start;
}

.sale__list__item {
  max-width: calc(
    (100% - var(--spacing) * (var(--columns) - 1)) / var(--columns)
  );
  background-color: var(--white);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  flex: 1 1 auto;
}

.sale__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1.11 / 1;
}

.sale__thumb img {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  translate: 0 0;
  transition: translate 0.1s ease-in;
}

.sale__list__item:hover .sale__thumb img {
  translate: 0rem -0.6rem;
}

.sale__title {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  height: 4rem;
  transition: color 0.1s ease-in;
  margin-top: 1.2rem;
}

.sale__list__item:hover .sale__title {
  color: var(--blue);
}

.sale__price {
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

.sale__origin {
  color: #a4a4a4;
  display: flex;
  gap: 0.7rem;
  margin-top: 0.8rem;
}
.sale__origin span {
  text-decoration: line-through;
}
.sale__origin span + span {
  color: var(--secondary-color);
  text-decoration: none;
}

.sale__count {
  margin-top: 1.5rem;
  display: block;
  min-height: 2rem;
  width: 100%;
}

.sale__count span {
  min-height: 2rem;
  background-color: #ffe6bc;
  border-radius: 2.5rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.sale__count span i {
  background: linear-gradient(90deg, #ffecb3 0%, #ffb200 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  display: inline-block;
  border-radius: 2.5rem;
}
.sale__count span img {
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  top: -0.3rem;
  left: 0;
  z-index: 1;
}
.sale__count span b {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 1.4rem;
}

.sale__buy__btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  padding: 0.7rem 0;
  background-color: #f1f8fe;
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.3rem;
}

.sale__buy__btn:hover {
  cursor: pointer;
}

.sale__product__viewmore {
  display: block;
  text-align: center;
  width: fit-content;
  color: var(--blue);
  font-size: 1.4rem;
  height: 3.6rem;
  padding: 0 2rem 1.5rem;
  margin: 0.5rem auto 0;
  line-height: 3.6rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
}

/* Slider */
.slider {
  width: 100%;
  margin-top: 2rem;
}

.slider__wrapper {
  max-width: 120rem;
  height: 19.8rem;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.body__slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.body__slider > a {
  width: 59.5rem;
  height: 19.8rem;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
}
.body__slider > a + a {
  margin-left: 1rem;
}

.body__slider > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__wrapper .prev,
.slider__wrapper .next {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  background-color: #8181814f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  opacity: 0.4;
}

.slider__wrapper .prev {
  left: 1rem;
}
.slider__wrapper .next {
  right: 1rem;
}

.slider__wrapper .prev:hover,
.slider__wrapper .next:hover {
  opacity: 0.8;
  background-color: #c4c4c4ea;
}

/* Suggested */
.suggested {
  margin-top: 2rem;
}

.suggested__wrapper {
  max-width: 120rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.suggested__label span {
  border-radius: 0.2rem;
  font-size: 1.1rem;
  line-height: 1.2rem;
  display: inline-block;
  margin-right: 0.04rem;
  padding: 0.3rem;
  background-color: var(--gray);
}

.suggested__list {
  --columns: 6;
  --spacing: 1rem;

  margin-top: 2rem;
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
}

.suggested__item {
  display: block;
  max-width: calc(
    (100% - (var(--columns) - 1) * var(--spacing)) / var(--columns)
  );
  padding: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem;
}

.suggested__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  margin-top: 0.5rem;
}

.suggested__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: translate 0.1s ease-in;
}

.suggested__item:hover .suggested__thumb img {
  translate: 0 -0.6rem;
}

.suggested__badge {
  background: linear-gradient(to right, #ef3006, #c60004);
  border-radius: 2rem;
  display: inline-flex;
  max-width: 100%;
  padding-right: 0.8rem;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.suggested__badge span {
  font-size: 1rem;
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-transform: uppercase;
}

.suggested__name {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1rem;
  transition: color 0.1s ease-in;
}

.suggested__item:hover .suggested__name {
  color: var(--blue);
}

.suggested__tag {
  margin-top: 1rem;
}

.suggested__tag span {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--gray);
  border-radius: 0.3rem;
  color: #667085;
  font-size: 1.2rem;
}

.suggested__price {
  margin-top: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.suggested__origin {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.suggested__origin span:first-child {
  color: #667085;
  text-decoration: line-through;
}
.suggested__origin span:last-child {
  color: var(--secondary-color);
}

.suggested__gift {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.suggested__rating {
  margin-top: 1rem;
  display: flex;
  font-size: 12px;
  color: #a4a4a4;
  white-space: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.suggested__rating .rating b {
  vertical-align: text-top;
}

.suggested__rating .rating i {
  display: inline-block;
  background-image: url(../img/ex2/icon-new-min.png);
  width: 1.4rem;
  height: 1.4rem;
  background-size: 1900%;
  background-position: -11.6rem -1.5rem;
}

/* Exclusive */

.exclusive {
  margin-top: 2rem;
}

.exclusive__wrapper {
  max-width: 120rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.exclusive__container {
  --left: 38rem;
  --container-spacing: 1rem;

  margin-top: 2rem;
  display: flex;
  box-sizing: border-box;
  gap: var(--container-spacing);
}

.exclusive__img {
  display: inline-block;
  max-width: var(--left);
  aspect-ratio: 0.76 / 1;
}

.exclusive__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.exclusive__list {
  --columns: 4;
  --spacing: 1rem;

  max-width: calc(100% - var(--container-spacing) - var(--left));
  display: flex;
  gap: var(--spacing);
  overflow: hidden;
  position: relative;
}

.exclusive__list::before,
.exclusive__list::after {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  background-color: #f0f0f0ca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0.6;
}
.exclusive__list::before {
  content: "〈";
  left: 1rem;
}
.exclusive__list::after {
  content: "〉";
  right: 1rem;
}

.exclusive__list:hover::before,
.exclusive__list:hover::after {
  background-color: #ababab89;
  opacity: 1;
}

.exclusive__item {
  display: inline-block;
  max-width: calc(
    (100% - (var(--columns) - 1) * var(--spacing)) / var(--columns)
  );
  height: fit-content;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem;
  text-decoration: none;
  margin-top: 0.5rem;
}

.exclusive__label span {
  border-radius: 0.2rem;
  font-size: 1.1rem;
  line-height: 1.2rem;
  display: inline-block;
  margin-right: 0.04rem;
  padding: 0.3rem;
  background-color: var(--gray);
}

.exclusive__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1;
}

.exclusive__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: translate 0.1s ease-in;
}

.exclusive__item:hover .exclusive__thumb img {
  translate: 0 -0.6rem;
}

.exclusive__badge {
  background: linear-gradient(to right, #ef3006, #c60004);
  border-radius: 2rem;
  display: inline-flex;
  max-width: 100%;
  padding-right: 0.8rem;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.exclusive__badge span {
  font-size: 1rem;
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-transform: uppercase;
}

.exclusive__name {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1rem;
  transition: color 0.1s ease-in;
}

.exclusive__item:hover .exclusive__name {
  color: var(--blue);
}

.exclusive__tag {
  margin-top: 1rem;
}

.exclusive__tag span {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--gray);
  border-radius: 0.3rem;
  color: #667085;
  font-size: 1.2rem;
}

.exclusive__price {
  margin-top: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.exclusive__origin {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.exclusive__origin span:first-child {
  color: #667085;
  text-decoration: line-through;
}
.exclusive__origin span:last-child {
  color: var(--secondary-color);
}

.exclusive__gift {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.exclusive__rating {
  margin-top: 1rem;
  display: flex;
  font-size: 12px;
  color: #a4a4a4;
  white-space: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.exclusive__rating .rating b {
  vertical-align: text-top;
}

.exclusive__rating .rating i {
  display: inline-block;
  background-image: url(../img/ex2/icon-new-min.png);
  width: 1.4rem;
  height: 1.4rem;
  background-size: 1900%;
  background-position: -11.6rem -1.5rem;
}

/* Endow */

.endow {
  margin-top: 2rem;
  width: 100%;
}

.endow__container h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.endow__container__wrapper {
  --columns: 4;
  --spacing: 1rem;

  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
}

.endow__container__wrapper a {
  display: block;
  max-width: calc(
    (100% - (var(--columns) - 1) * var(--spacing)) / var(--columns)
  );
  aspect-ratio: 0.6167 / 1;
  border-radius: 1rem;
  overflow: hidden;
}
.endow__container__wrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* News */

.news {
  width: 100%;
  margin-top: 2rem;
}

.news__wrapper {
  max-width: 120rem;
  background-color: var(--white);
  margin: auto;
  padding: 2rem;
}

.news__list {
  --columns: 4;
  --spacing: 1rem;

  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: var(--spacing);
}

.news__item {
  max-width: calc(
    (100% - (var(--columns) - 1) * var(--spacing)) / var(--columns)
  );
}

.news__item > a {
  display: block;
  width: 100%;
  aspect-ratio: 1.72 / 1;
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
}

.news__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__item p a {
  margin-top: 2rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(16, 24, 40, 1);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.news__more a {
  margin-top: 2rem;
  display: block;
  margin: 2rem auto 0;
  text-decoration: none;
  font-weight: 700;
  color: var(--blue);
  padding: 0.5rem 1rem;
  width: fit-content;
}

.news__more a strong::after {
  content: " >";
}

/* ‣ */

/* Bottom search */
.search__trend {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.bottom__search {
  max-width: 120rem;
  box-sizing: border-box;
  margin: auto;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.bottom__search__title {
  position: relative;
  font-size: 2.4rem;
  font-weight: bold;
}

.bottom__search__title img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.bottom__search__container {
  margin-top: 1rem;
}

.bottom__search__container ul {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.bottom__search__container ul li a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.2rem 0.8rem;
  background-color: var(--gray);
  border-radius: 3rem;
  font-size: 1.4rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*==========================================Footer=================================================*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.footer__inner__top {
  height: 23.4rem;
  background: var(--white);
}

.footer__top__section {
  max-width: 120rem;
  height: 21.4rem;
  padding: 1.5rem 0 0.5rem;
  margin: auto;
  display: flex;
}

.flex-1 {
  flex: 1 1 28.8rem;
  font-size: 1.4rem;
}

.flex-2 {
  flex: 1 1 30rem;
  font-size: 1.4rem;
}
.flex-3 {
  flex: 2 1 38rem;
  font-size: 1.4rem;
}

.footer__top__item a {
  text-decoration: none;
}
.footer__top__item a:hover {
  color: var(--blue);
}

.footer__top__item p {
  margin-top: 1rem;
}
.footer__top__item p a {
  color: var(--blue);
  font-weight: bold;
}

.footer__top__item strong {
  font-weight: bold;
}

.footer__top__item:last-child strong {
  font-weight: normal;
}

.footer__top__item ul {
  margin-top: 1rem;
}

.footer__top__item ul:not(.footer__top__logo) > li {
  margin-top: 1rem;
}

.footer__top__logo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.footer__top__logo li {
  margin-top: 1rem;
  width: 8rem;
  border-radius: 0.5rem;
}

.footer__top__logo li a {
  display: block;
  background-image: url(../img/ex2/same-group.png);
  background-repeat: no-repeat;
  background-size: 310%;
  width: 100%;
  height: 2.4rem;
  border-radius: 0.7rem;
}

.footer__top__logo li:nth-child(1) a {
  background-position: -0rem -5.7rem;
}
.footer__top__logo li:nth-child(2) a {
  background-position: -8.5rem 0rem;
}
.footer__top__logo li:nth-child(3) a {
  background-position: -16.9rem 0rem;
}
.footer__top__logo li:nth-child(4) a {
  background-position: -8.4rem -8.9rem;
}
.footer__top__logo li:nth-child(5) a {
  background-position: -16.85rem -2.9rem;
}
.footer__top__logo li:nth-child(6) a {
  background-position: 0.055rem -11.9rem;
}
.footer__top__logo li:nth-child(7) a {
  background-position: -16.75rem -11.9rem;
}
.footer__top__logo li:nth-child(8) a {
  background-position: -16.9rem -8.9rem;
}

.footer__inner__bottom {
  height: 8.4rem;
  background-color: var(--gray);
}

/* Social Media  */
.footer__top__social {
  margin-top: 1.5rem;
  color: var(--blue);
}

.footer__top__social a + a {
  margin-left: 1rem;
}

.footer__top__social a i {
  margin-right: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
}
.footer__top__social a img {
  margin-right: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: cover;
  vertical-align: middle;
}

.bi.bi-facebook {
  color: var(--blue);
}
.bi.bi-youtube {
  color: var(--secondary-color);
}
.bi.bi-facebook {
  color: var(--);
}

.footer__top__certificate {
  margin-top: 2rem;
}

.icon-gov {
  display: inline-block;
  background-image: url(../img/ex2/icon_common@2x.png);
  background-repeat: no-repeat;
  background-position: -17.8rem -2.6rem;
  background-size: 350%;
  width: 7.9rem;
  height: 2.4rem;
}
.icon-solve {
  display: inline-block;
  background-image: url(../img/ex2/icon_common@2x.png);
  background-repeat: no-repeat;
  background-position: -26rem 0;
  background-size: 1250%;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-protect {
  display: inline-block;
  background-image: url(../img/ex2/icon_common@2x.png);
  background-repeat: no-repeat;
  background-position: -9rem -6.5rem;
  background-size: 265%;
  width: 12.2rem;
  height: 2.4rem;
}
.icon-trust {
  display: inline-block;
  background-image: url(../img/ex2/handle_cert.png);
  background-repeat: no-repeat;
  background-position: 1.2rem 1rem;
  background-size: contain;
  width: 8.5rem;
  height: 3.5rem;
}

/* Footer Bottom */
.footer__bottom__section {
  max-width: 120rem;
  padding: 1.5rem 0;
  margin: auto;
  color: #666;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
